.name {
    color: red;
    font-size: 30px;
}
form {
  background: #fff;
  width: 600px;
  margin: auto;
  padding: 30px 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.code{
  background: rgb(236, 234, 229);
  width: 500px;
  margin: auto;
  padding: 30px 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}